:root {
  --blue: #1e4174;
  --softblue: #3186a5;
  --yellow: #dda94b;
  --white: #fefefe;
  --black: #212121;
}

/* Hide Arrow Input Type Number */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', Helvetica, sans-serif;
  font-weight: bold;
  margin: 1rem 0;
  color: var(--darkgreen);
}

body {
  margin: 0;
  font-family: 'Roboto', Helvetica, sans-serif;
  background: var(--white);
}

.Header,
.Category,
.Cards,
.Search {
  padding: 1rem;
}

.Header {
  background: var(--blue);
}

.Header__title {
  text-align: center;
  color: var(--yellow);
}

.Search {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap: 0 1rem;
  align-items: center;
}

.Search__input {
  height: 40px;
  padding: 0 8px;
  border: 2px solid var(--blue);
  border-radius: 5px;
  font-size: 1rem;
  color: var(--blue);
  outline: none;
  font-family: 'Roboto Slab', Helvetica, sans-serif;
}

.Search__btn {
  height: 46px;
  background: var(--yellow);
  border: none;
  border-radius: 5px;
  color: var(--blue);
  font-family: 'Roboto Slab', Helvetica, sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
}

.Category__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
}

.Card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  background: #fefefe;
  border: 1px solid var(--blue);
  padding: 1rem;
  background: var(--blue);
  overflow: hidden;
}

.Card__header {
  display: grid;
  grid-template-columns: 1fr 60px;
  align-items: start;
  margin-bottom: 1rem;
  grid-gap: 0 1rem;
}

.Card__title {
  margin: 0;
  color: var(--yellow);
}

.Card__id {
  color: var(--white);
  text-align: right;
}

.is--offer {
  color: var(--white);
  font-size: 1rem;
}

.is--normal {
  display: none;
}

.Card__content {
  display: flex;
  justify-content: space-between;
}

.Card__products {
  color: var(--white);
  text-align: right;
}
